<div class="contenedor">
    <div class="formulario">
      <label for="documento">Documento de la Persona:</label>
      <input type="text" id="documento" [(ngModel)]="documento" [ngModelOptions]="{standalone: true}">
      <button (click)="buscarPersona()">Buscar</button>
    </div>
  
    <div *ngIf="persona" class="informacion">
      <h2>Información de la Persona</h2>
      <p><strong>Documento:</strong> {{ persona.idDocumento }}</p>
      <p><strong>Primer nombre:</strong> {{ persona.nombre1 }}</p>
      <p><strong>Segundo nombre:</strong> {{ persona.nombre2 }}</p>
      <p><strong>Primer apellido:</strong> {{ persona.apellido1 }}</p>
      <p><strong>Segundo apellido:</strong> {{ persona.apellido2 }}</p>
      <p *ngIf="persona.sexo == 'M'; else elseBlock"><strong>Sexo:</strong> Masculino</p>
      <ng-template #elseBlock><p><strong>Sexo:</strong> Femenino</p></ng-template>
      <p><strong>Fecha de Nacimiento:</strong> {{ persona.fechaNacimiento }}</p>
      <p><strong>Identificador de la Vivienda:</strong> {{ persona.vivienda.idVivienda }}</p>
      <p><strong>Dirección:</strong> {{ persona.vivienda.direccion }}</p>
      <p><strong>Cabeza de Familia:</strong> {{ persona.cabezaFamilia.idDocumento }}</p>
      <p><strong>Nombre de la Cabeza de Familia:</strong> {{ persona.cabezaFamilia.nombre1 }} {{ persona.cabezaFamilia.nombre2 }}  {{ persona.cabezaFamilia.apellido1 }} {{ persona.cabezaFamilia.apellido2 }}</p>
      <p><strong>Eventos:</strong></p>
      <ul>
        <li *ngFor="let evento of eventos">{{evento}}</li>
      </ul> 
      <!-- Agrega más campos de información aquí según sea necesario -->
    </div>
  </div>
