<div class="contenedor" *ngIf="nombreEvento === ''">
  <div class="formulario">
    <label for="documento">Identificador del Eventos:</label>
    <input type="text" id="documento_" [(ngModel)]="identificadorEvento" [ngModelOptions]="{standalone: true}">
    <button (click)="buscarEvento()">Buscar</button>
  </div>
</div>

<div class="card" *ngIf="nombreEvento !== ''">
    <div class="card-body">
      <h5 class="card-title">Actualizar Información de Evento</h5>
      <form (ngSubmit)="updateEvento()">
        <div class="form-group">
          <label for="nombreEvento">Nombre del Evento:</label>
          <input type="text" class="form-control" id="nombreEvento" [(ngModel)]="nombreEvento" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="identificadorVivienda">Identificador de la Vivienda:</label>
          <input type="text" class="form-control" id="identificadorVivienda" [(ngModel)]="identificadorVivienda" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>

