<div class="grid-container">
    <div class="grid-item persona">
        <h2>Persona</h2>
        <p>
          <a href='registropersona'>Registrar una nueva persona</a>
        </p>
        <p>
          <a href='vistapersona'>Consultar datos de una persona</a>
        </p>
        <p>
          <a href='actualizacionpersona'>Modificar datos de una persona</a>
        </p>
        <p>
          <a href='borrarpersona'>Eliminar una persona</a>
        </p>
    </div>
    <div class="grid-item vehiculo">
        <h2>Vehículo</h2>
        <p>
            <a href='registrovehiculo'>Registrar una nueva persona</a>
          </p>
          <p>
            <a href='vistavehiculo'>Consultar datos de una persona</a>
          </p>
          <p>
            <a href='actualizacionvehiculo'>Modificar datos de una persona</a>
          </p>
          <p>
            <a href='borrarvehiculo'>Eliminar una persona</a>
          </p>
    </div>
    <div class="grid-item evento">
        <h2>Evento</h2>
    </div>
    <div class="grid-item vivienda">
        <h2>Vivienda</h2>
    </div>
  </div>
