<div class="grid-container">
    <div class="grid-item persona">
        <h2>Persona</h2>
        <p>
          <a href='registropersona'>Registrar una nueva persona</a>
        </p>
        <p>
          <a href='vistapersona'>Consultar datos de una persona</a>
        </p>
        <p>
          <a href='vistapersonas'>Consultar datos de las personas</a>
        </p>
        <p>
          <a href='actualizacionpersona'>Modificar datos de una persona</a>
        </p>
        <p>
          <a href='borrarpersona'>Eliminar una persona</a>
        </p>
        <p>
          <a href='personaevento'>Añadir una persona a un evento</a>
        </p>
        <p>
          <a href='actualizaralcalde'>Actualizar el alcalde de un municipio</a>
        </p>
        <p>
          <a href='actualizargobernador'>Actualizar el gobernador de un departamento</a>
        </p>
    </div>
    <div class="grid-item vehiculo">
        <h2>Vehículo</h2>
        <p>
          <a href='registrovehiculo'>Registrar un nuevo vehículo</a>
        </p>
        <p>
          <a href='vistavehiculo'>Consultar datos de un vehiculo</a>
        </p>
        <p>
          <a href='vistavehiculoplaca'>Consultar datos de un vehiculo por placa</a>
        </p>
        <p>
          <a href='vistavehiculos'>Consultar datos de los vehiculos</a>
        </p>
        <p>
          <a href='actualizacionvehiculo'>Modificar datos de un vehiculo</a>
        </p>
        <p>
          <a href='borrarvehiculo'>Eliminar un vehiculo</a>
        </p>
    </div>
    <div class="grid-item evento">
        <h2>Evento</h2>
        <p>
          <a href='registroevento'>Registrar un nuevo evento</a>
        </p>
        <p>
          <a href='vistaevento'>Consultar datos de un evento</a>
        </p>
        <p>
          <a href='vistaeventos'>Consultar datos de los eventos</a>
        </p>
        <p>
          <a href='actualizacionevento'>Modificar datos de un evento</a>
        </p>
        <p>
          <a href='borrarevento'>Eliminar un evento</a>
        </p>
    </div>
    <div class="grid-item vivienda">
        <h2>Vivienda</h2>
        <p>
          <a href='registrovivienda'>Registrar una nueva vivienda</a>
        </p>
        <p>
          <a href='vistavivienda'>Consultar datos de una Vivienda</a>
        </p>
        <p>
          <a href='vistaviviendas'>Consultar datos de las Viviendas</a>
        </p>
        <p>
          <a href='actualizacionvivienda'>Modificar datos de una vivienda</a>
        </p>
        <p>
          <a href='borrarvivienda'>Eliminar un vivienda</a>
        </p>
    </div>
  </div>
